---
import MainLayout from "../layouts/MainLayout.astro"
const title = 'Home page'
const description = "Learn more about the person behind the blog and what to expect from the content.";
const date = new Date('August 08 2021');
---

<MainLayout title={title} description={description} date={date}>
	<main class="container mx-auto my-8 p-4 bg-background text-text rounded-lg shadow-md">
		<h1 class="mb-4">Welcome to my blog.</h2>
			<p class="mb-4">Navigating the world of software development can sometimes feel like decoding an ancient manuscript. If you’ve ever felt overwhelmed by complex concepts or wondered how to make sense of the tools available, you’re in the right place.</p>
			<p class="mb-4">I’m subhamc88, a B.Tech student diving deep into the fascinating realms of software and development. As someone who’s passionate about simplifying the intricacy involved and making tech approachable, I created this blog to share insights, tips, and a dash of humor with fellow enthusiasts and curious minds.</p>
			<p class="mb-4">Here, you won’t find jargon-filled, dense articles. Instead, I aim to break down complex ideas into byte-sized, easy-to-understand pieces. Whether you’re just starting out or looking to refine your skills, my goal is to help you build a solid foundation and inspire you to explore new tools and techniques with confidence.</p>
			<p class="mb-4">Expect to find content that’s both informative and engaging, crafted with a sprinkle of casual wit. My hope is to make your journey through the world of software, not only educational but also enjoyable.</p>
			<p class="mb-4">Feel free to explore, experiment, and, most importantly, have fun with your learning. If you have any questions or suggestions, don’t hesitate to reach out. I’m always excited to hear from fellow tech enthusiasts and learners!</p>
			<p class="font-semibold">Happy exploring!</p>
			<p>subhamc88</p>
	</main>
</MainLayout>

