---
const { pubDate } = Astro.props;

const formattedDate = pubDate ? new Date(pubDate).toLocaleDateString('en-US', {
	year: 'numeric',
	month: 'long',
	day: 'numeric',
}) : 'Date not available';
---

<p class="text-text text-sm">{formattedDate}</p>
