---
import MainLayout from './MainLayout.astro'

const { title} = Astro.props;
---

<!doctype html>
<MainLayout>

	<article class="max-w-4xl mx-auto">
		<header class="mb-6">
			<h1 class="text-3xl font-bold mb-2">{title}</h1>
		</header>
		<section class="mt-4">
			<ul class=" flex flex-col jutify-around">
				<slot />
			</ul>
		</section>
	</article>
</MainLayout>
